<div class="exercise-container">
  <h1>Exercise Management</h1>

  <div *ngIf="loading" class="loading-container">
    <mat-spinner diameter="50"></mat-spinner>
    <p>Loading...</p>
  </div>

  <ng-container *ngIf="!loading">
    <mat-tab-group>
      <!-- MATCHING EXERCISES TAB -->
      <mat-tab label="Matching Exercises">
        <app-pair-match></app-pair-match>
      </mat-tab>

      <!-- MULTIPLE CHOICE TAB -->
      <mat-tab label="Multiple Choice Questions">
        <app-multi-choice></app-multi-choice>
      </mat-tab>

      <!-- FREETEXT EXERCISES TAB -->
      <mat-tab label="Freetext Exercises">
        <app-freetext-exercise></app-freetext-exercise>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</div>
