<mat-card class="profile-card" *ngIf="user">
  <mat-card-title>Profile</mat-card-title>

  <mat-list>
    <mat-list-item><strong>First Name:</strong> {{ user.first_name }}</mat-list-item>
    <mat-list-item><strong>Last Name:</strong> {{ user.last_name }}</mat-list-item>
    <mat-list-item><strong>Username:</strong> {{ user.username }}</mat-list-item>
    <mat-list-item><strong>Email:</strong> {{ user.email }}</mat-list-item>
    <mat-list-item><strong>Occupation:</strong> {{ getOccupation() }}</mat-list-item>
  </mat-list>
</mat-card>
