<div class="lessons-container">
  <h1>Lessons</h1>

  <div *ngIf="loading" class="loading-container">
    <mat-spinner diameter="50"></mat-spinner>
    <p>Loading...</p>
  </div>

  <ng-container *ngIf="!loading">
    <mat-tab-group>
      <!-- View Lessons Tab -->
      <mat-tab label="View Lessons">
        <app-lesson-list [lessons]="lessons" [isTeacher]="isTeacher"></app-lesson-list>
      </mat-tab>

      <!-- Create Lesson Tab - Only for Teachers -->
      <mat-tab label="Create Lesson" *ngIf="isTeacher">
        <app-lesson-creation (lessonCreated)="onLessonCreated($event)"></app-lesson-creation>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</div>
