/* Global styles, can import other style files here */


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents unnecessary scroll */
  font-family: Roboto, "Helvetica Neue", sans-serif; /* Angular Material default font */
}
