<div *ngIf="loading" class="spinner-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<mat-card *ngIf="!loading && group">
  <mat-card-title>{{ group.name }}</mat-card-title>

  <mat-tab-group>
    <!-- Members Tab -->
    <mat-tab label="Enrolled Students">
      <mat-list>
        <mat-list-item *ngFor="let s of approvedStudents">
          {{ s.first_name }} {{ s.last_name }}
          <!-- Optional: teacher remove button -->
          <button
            mat-icon-button
            color="warn"
            (click)="removeStudent(s.id)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-tab>

    <!-- Group Chat Tab -->
    <mat-tab label="Class Chat">
      <app-chat-window
        [myUserId]="myUserId"
        [isGroupChat]="true"
        [groupId]="group.id"
        [groupName]="group.name">
      </app-chat-window>
    </mat-tab>
  </mat-tab-group>
</mat-card>
